<div class="container pt-3 pb-5">
<!--エラーメッセージ-->
<% if @book.errors.any? %>
 <h3><%= @book.errors.count %>errors prohibited this obj from begin saved:</h3>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <div class="row">
    <div class="col-md-3 pr-1">
      <!--プロフィール-->
      <%= render "users/userinfo",user: @user %>
      <!--投稿ページ-->
      <%= render "books/newbook",book: @book %>
    </div>

  <!--ユーザー一覧-->
    <div class="col-md-8 offset-md-1">
      <!--見出し-->
      <h2>Users</h2>
      <table class="table table-resposive">
        <!--テーブルのヘッダー-->
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
        </thead>
        <!--実データ-->
        <% @users.each do |user| %>
          <tbody>
            <tr>
              <td>
                <!--ユーザー画像-->
                <%= image_tag user.get_profile_image(80,80) %>
              </td>

              <td>
                <!--ユーザー名-->
                  <%= user.name %>
              </td>

              <td>
                 <%= link_to "Show",user_path(user.id) %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>