<div class="container pt-3 pb-5">
  <div class="row">
    <div class="col-md-3 pr-1">
      <!--プロフィール-->
      <%= render "users/userinfo",user: @user %>
      <!--投稿ページ-->
      <%= render "books/newbook",book: @book %>

    </div>

    <!--投稿一覧-->
    <div class="col-md-8 offset-md-1">
      <!--見出し-->
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <!--投稿データ-->
        <% @books.each do |book| %>
          <tbody>
            <tr>
              <td>
                <!--ユーザー詳細にリンク-->
                <%= link_to user_path(book.user.id) do %>
                  <%= image_tag book.user.get_profile_image(80,80) %>
                <% end %>
              </td>

              <td>
                <!--ブック詳細にリンク-->
                <%= link_to book_path(book.id) do %>
                  <%= book.title %>
                <% end %>
              </td>

              <td><%= book.body %></td>

            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>